*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/
/Site/pom.xml
/Site/node_modules
/Site/src/main/resources/config/application-dev.yml
/Site/src/main/resources/config/application-prod.yml
**/res/values/env.xml
Prototypage/TestApi/app/local.properties
**/node_modules/
**/node_modules/**/*

Site/node_modules/