.pcard {
    &-header {
        margin: 0;
        padding: 10px 0;
        font: {
            size: 20px;
        }
        text: {
            align: center;
            transform: uppercase;
        }
    }

    &-content {
        padding: 20px;
    }
}