footer[role="contentinfo"] {
    z-index: 3;

	.footer-top {
		display: block;
		margin: 0;
		padding: 10px 0;
		list-style-type: none;

		li {
			display: inline-block;
    		vertical-align: middle;
    		margin: 0;
			padding: 0 5px;

			&:not(:last-of-type) {
				&:after {
					display: inline-block;
    				vertical-align: middle;
					content: '';
					margin: 0 0 0 10px;
					width: 4px;
					height: 4px;
					border-radius: 100%;
					background-color: white;
				}
			}
		}

		a {
			font: {
				size: 14px;
				weight: 300;
			}
			color: white;
			text-decoration: none;


    		@media (min-width: $screen-sm-min) {
				font-size: 16px;
    		}
		}
	}

	.footer-bottom {
    	display: none;

    	p {
			margin: 0;
			padding: 10px 0;
			font-size: 10px;
	    	font-weight: 300;		
	    	line-height: 1.2 !important;

    	}

    	@media (min-width: $screen-sm-min) {
    		display: block;
    	}
	}
}