<div class="red lighten-2 white-text text-center shadowed">
	<div class="container">
		<ul class="footer-top">
			<li>
				<a href="#" translate="footer.about"></a>
			</li>
			<li>				
				<a href="#">C.G.U</a>
			</li>
			<li>				
				<a href="#">F.A.Q</a>
			</li>
			<li>				
				<a href="#">Contact</a>
			</li>
		</ul>
	</div>	
</div>
<div class="red lighten-1 white-text text-center footer-bottom">
	<div class="container">
		<p>©{{date | date:'yyyy'}}<span translate="footer.right"></span></p>
	</div>
</div>